/*----------style reset----------*/
		html, body, div, span, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		abbr, address, cite, code,
		del, dfn, em, img, ins, kbd, q, samp,
		small, strong, sub, sup, var,
		b, i,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section, summary,
		time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				outline: 0;
				font-size: 100%;
				vertical-align: baseline;
				background: transparent;
		}
		body {
				line-height: 1;
		}
		article,aside,details,figcaption,figure,
		footer,header,hgroup,menu,nav,section { 
				display: block;
		}
		nav ul {
				list-style: none;
		}
		blockquote, q {
				quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
				content: '';
				content: none;
		}
		a {
				margin: 0;
				padding: 0;
				font-size: 100%;
				vertical-align: baseline;
		}
/*//////////style reset//////////*/



body {
	font-family: 'Raleway', sans-serif;
}
.header {
	width:100%;
	display:block;
	background:#2b2e4a url(../images/header-bg.jpg) no-repeat top;
}
.header .main-block {
	width:1170px;
	height:100px;
	margin:0 auto;
	border-bottom:1px solid rgba(255,255,255,0.15);;
}
.header .logotype {
	line-height:100px;
	vertical-align:middle;
}
.header .main-navigation {
	line-height:100px;
	vertical-align:middle;
	float:right;
}
.header .main-navigation a {
	display:inline-block;
	margin-left:50px;
	color:#cbccd3;
	text-transform: uppercase;
	font-size:1em;
	font-weight:700;
	text-decoration:none;
}
.header .main-navigation a:hover {
	color:#fff;
	text-decoration:underline;
}

.head-block {
	margin:0 auto 0 auto;
	width:940px;
}
header {
	display:table-cell;
	vertical-align:middle;
	height:650px;
}
header h1 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	line-height:1.2em;
	font-size:4em;
	color:#fff;
	text-align:center;
}
header p {
	margin-top:1.6em;
	line-height:1.5em;
	font-size:1.36em;
	font-weight:300;
	color:#fff;
	text-align:center;
}
header button {
	min-width:200px;
	height:46px;
	display:block;
	margin:4em auto 0 auto;
	cursor: pointer;	
	background:#e84545;
	border: 1px solid transparent;
	border-color:#e84545;
	border-radius:2px 2px;
	white-space: nowrap;	
	vertical-align: middle;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size:80%;
	font-weight:600;
	color:#fff;
}
header button:hover {
	background:#ff4c4c;
	color:#892929;
	text-decoration:underline;
}
.features-block {
	margin:0 auto 0 auto;
	width:1170px;
}
.features {
	margin:5% 0;
	display:block;
	list-style:none;
}
.features li {
	display:inline-block;
	text-align: center;
	color:#2d3033;
	width:27%;
	margin:2% 3%;
}
.sprite {
    background-image: url(../images/features.png);
    background-repeat: no-repeat;
    display: block;
	margin:0 auto 1em auto;
}
.sprite-ico_cleancode {
    width: 76px;
    height: 76px;
    background-position: -5px -5px;
}
.sprite-ico_customed {
    width: 76px;
    height: 76px;
    background-position: -91px -5px;
}
.sprite-ico_downloadable {
    width: 79px;
    height: 76px;
    background-position: -177px -5px;
}
.sprite-ico_modern {
    width: 76px;
    height: 76px;
    background-position: -266px -5px;
}
.sprite-ico_responsive {
    width: 76px;
    height: 76px;
    background-position: -352px -5px;
}
.sprite-ico_ship {
    width: 76px;
    height: 76px;
    background-position: -438px -5px;
}
.features h3 {
	text-transform: uppercase;
	font-size:1em;
	line-height:3em;
	font-weight:700;
	white-space: nowrap;	
}
.features p {
	color:#6c7279;
	font-size:0.9em;
	line-height:1.5em;
	font-weight:300;
}
.works-block {
	width:100%;
	margin:0 0;
	padding:0 0;
	word-spacing: -.36em;
}
.works-block a {
	width:25%;
	height:250px;
	padding:0 0;
	display:inline-block;
	word-spacing: normal;
}
.works-block a:first-child { 
	margin-left: 0;
}
.works-block a img{
	vertical-align: middle;
	box-shadow: 0 0 0 1px #fff;
	width:100%;
	height:100%;
}
.works-block .above {
	width:100%;
	height: 100%;
	top: -100%;
	left: 0;
	opacity: 0;
	background: rgba(232,69,69,0.9);
	position: relative;
	visibility: hidden;
	-moz-transition: opacity, 0.5s;
    -o-transition: opacity, 0.5s;
    -webkit-transition: opacity, 0.5s;
    transition: opacity, 0.5s;
}
.works-block a:hover .above{
	opacity: 1;
	visibility: visible;
}
.works-block .descr {
	position: absolute;
	text-align: center;
	top:35%;
	width: 100%;
	word-spacing: normal;
	vertical-align:middle;
	color:#fff;
}
.works-block .descr h4 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight:700;
	line-height:2em;
}
.works-block .descr p {
	font-family: 'Raleway', sans-serif;
	font-weight:300;
}
.team-block {
	margin:0 auto 0 auto;
	width:1170px;
}
.team {
	margin:5% 0 8% 0;
	display:table;
	list-style:none;
	width:100%;
}
.team li {
	display:table-cell;
	box-sizing: border-box;
	text-align: left;
	color:#2d3033;
	width:22.5%;
	margin:0 1% 0 1%;
	padding:0 1% 0 1%;
}
.team .person {
	vertical-align:top;
}
.team li img {
	width:100%;
	margin: 0 0;
}
.team h5 {
	margin:3% 0 0 0;
	font-size:1.2em;
	line-height:2em;
	font-weight:400;
}
.team h6 {
	text-transform: uppercase;
	color:#e84545;
	font-size:0.8em;
	line-height:1.6em;
	font-weight:400;
}
.team p {
	color:#6c7279;
	font-size:0.86em;
	line-height:1.6em;
	font-weight:300;
	margin:3% 0;
}
.person-social {
	vertical-align:bottom;
}
.person-social a {
	display:inline-block;
	margin:2em 3px 0 0;
	border:1px solid #e8ecee;
}
.person-social a:hover {
	border:1px solid #e84545;
}
.team-social {
    background-image: url(../images/team-social.png);
    background-repeat: no-repeat;
    display: block;
}
.team-social-fb {
    width: 38px;
    height: 38px;
    background-position: -2px -2px;
}
.team-social-in {
    width: 38px;
    height: 38px;
    background-position: -44px -2px;
}
.team-social-tw {
    width: 38px;
    height: 38px;
    background-position: -86px -2px;
}
.footer-block {
	width:100%;
	display:block;
	background:#3a3e64;
}
.footer-block div {
	display:block;
	margin:0 auto 0 auto;
	padding:5% 0 5% 0;
	width:1170px;
	list-style:none;
}
.footer-block .item {
	width:30%;
	text-align:center;
	display:inline-block;
	color:#fff;
	vertical-align:top;
}
.footer-block .item h5 {
	text-transform: uppercase;
	font-size:1em;
	line-height:3em;
	font-weight:700;
	white-space: nowrap;	
}
.footer-block .item p {
	color:#9698ac;
	font-size:0.9em;
	line-height:1.5em;
	font-weight:300;
}
.footer-block .item .icon {
	display:inline-block;
	margin:0.5em 0.1em 0 0.1em;
}
.footer-block .item .icon span {
	border:2px solid #fff;
	border-radius:2px 2px;
}
.footer-block .item .icon span:hover {
	border:2px solid #e84545;
}

.social {
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    display: block;
}
.social-fb-icon {
    width: 36px;
    height: 36px;
    background-position: -5px -5px;
}
.social-in-icon {
    width: 36px;
    height: 36px;
    background-position: -51px -5px;
}
.social-twitter-icon {
    width: 36px;
    height: 36px;
    background-position: -97px -5px;
}
.social-y {
    width: 11px;
    height: 11px;
    background-position: -143px -5px;
}

.copy {
	width:100%;
	display:block;
	background:#313454;
	padding:2em 0 2em 0;
}
.copy p {
	color:#808080;
	font-size:0.9em;
	text-align:center;
	line-height:1.3em;
}
.copy p a {
	color:#fff;
	text-decoration:none;
}
.copy p a:hover {
	text-decoration:underline;
}
.copy p a:before {
	//zoom:1;
	opacity: .9;
	content:url(../images/y.png);
	display:inline-block;
	margin:0 0.3em 0 0;
}